body {
    background-color: rgb(252, 236, 238);
}
a {
    text-decoration: none !important;
    color: black;
    padding: 0 5px 0 5px;
}
a:hover {
    color: white;
}
.btn-pink {
    background-color: rgb(223, 139, 153);
    border-color: rgb(212, 125, 140);
}
.btn-pink:hover {
    background-color: rgb(153, 88, 99);
    border-color: rgb(114, 66, 74);
}
.btn-pink:active {
    background-color: rgb(82, 45, 51);
    border-color: rgb(66, 37, 42);
}
.btn-pink:active:focus {
    background-color: rgb(82, 45, 51);
    border-color: rgb(66, 37, 42);
  }
.bg-pink {
    background-color: rgb(223, 139, 153);
}
.bg-megapink {
    background-color: rgb(250, 207, 213);
}
.fa-warehouse {
    color: white;
}
.footer {
    position: relative;
    bottom: 0;
    height: 30px;
    line-height: 30px;
}
.text-right {
    text-align: right;
}

post {
    display: flex;
}

