.pending-approval-container {
    padding: 2rem;
    background-color: rgba(239, 255, 239, 0.932);
    border: 1px solid rgba(183, 253, 183, 0.452);
    max-height: 60vh;
    
}

.pending-approval-list {
    overflow-y: scroll;
    max-height: 55vh;
}

.send-btn-container {
    margin-top: 1rem;
}

.approval-checkbox {
    width: 1rem;
    height: 1rem;
}