.titulo {
    width:80%;
    float:left;
    margin-left: 10px;
}

.error {
    color:red;
}

.articulo{
    border:1px solid;
    float:left;
    width:148px;
    height:120px;
    padding:6px;
    margin:5px;
}

/*Compra*/
.compra{
    border: 1px solid black;
}


/*Carrito*/
th, td {
    padding:5px;
    margin:5px;
    height:35px;
    text-align: center;
}

/*Cabecera*/
.navbar {
   border-radius: 0px !important;
}

.desplegable{
    margin:auto;
    width:600px;
}

